@import "tailwindcss";

@keyframes premiumTextBlink {
  0%, 100% {
    opacity: 1;
    color: #000000;
  }
  50% {
    opacity: 0.45;
    color: #555555;
  }
}

.premium-text-blink {
  animation: premiumTextBlink 1.2s infinite;
}
@keyframes trendingBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.trending-blink {
  animation: trendingBlink 1.2s infinite;
}